* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Default */
body {
  background-color: #ebe1ce;
  margin: auto;
  max-width: 1600px;
}

section {
  margin: 0 20px;
  max-width: 1500px;
}

.logo {
  color: #d9543d;
  width: 100%;
  /* flex-basis: 120px; */
  flex: 1 1 140px;
  padding-right: 10px;
}

nav {
  max-width: 1500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  font-size: 16px;
  margin: 0 20px;
}

.navitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.navitems a {
  padding: 8px;
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in-out;
}

.navitems a.active {
  color: #d9543d;
}

.navitems a:hover {
  color: #d9543d;
  font-size: calc(100% + 2px);
  margin: -2px;
}

footer {
  padding: 0 20px;
}

/* footer */
footer {
  background-color: #465a5c;
  margin-top: 40px;
  width: 100%;
}

footer h2 {
  text-align: center;
  font-size: 28px;
  padding: 8px;
  color: white;
}

.bottom-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #aee1e7;
  padding: 10px;
  gap: 8px;
}

.bottom-nav h3 {
  color: #aee1e7;
  font-weight: 600;
  font-size: 24px;
  padding: 4px 0;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.bottom-nav a.active {
  color: #aee1e7;
}

.bottom-nav a:hover {
  color: #aee1e7;
}

.bottom-navitems {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.bottom-icons {
  transform: scale(60%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12px;
  padding: 4px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d7f0f3;
  font-size: 14px;
  padding-bottom: 20px;
}

@media screen and (min-width: 640px) {
  section {
    margin: 0 40px;
  }
  nav {
    font-size: 18px;
    margin: 0 40px;
  }
  footer {
    padding: 0 40px;
  }
}

/* Responsive styles */
@media (min-width: 768px) {
  section {
    margin: 0 80px;
  }
  nav {
    font-size: 18px;
    margin: 0 80px;
  }
  footer {
    padding: 0 80px;
  }

  .bottom-navitems {
    width: min-content;
    display: flex;
    gap: 12px;
    justify-content: center;
  }

  .bottom-nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
  }
  .bottom-nav h3 {
    width: 168px;
  }

  .bottom-icons {
    transform: scale(100%);
    width: min-content;
    padding: 0;
  }
  .navbar {
    flex-wrap: wrap;
  }
  .navbar a {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  section {
    margin: 0 120px;
  }
  nav {
    font-size: 18px;
    margin: 0 120px;
  }
  footer {
    padding: 0 120px;
  }
}
