body {
  background-color: #252525;
}

/* nav */
.logo {
  color: #aee1e7;
}

.navitems a {
  color: #577174;
}

.navitems a.active {
  color: #aee1e7;
}

.navitems a:hover {
  color: #aee1e7;
  font-size: calc(100% + 2px);
  margin: -2px;
}

/* intro */
.intro {
}

.intro h1 {
  background: linear-gradient(
    270deg,
    #05daf7 7.83%,
    #6dcb6d 30.66%,
    #e6956e 56.07%,
    #58ccf7 77.16%,
    #55beb1 99.9%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 32px;
}

.sub-intro {
  /* padding-top: px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-frame {
  display: flex;
  justify-content: center;
}

.profile {
  width: 140px;
  height: 140px;
}

.desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.biography {
  display: flex;
  gap: 20px;
}

.biography h3 {
  color: #05daf7;
  font-weight: 600;
  padding: 0 0 12px 0;
}

.biography p {
  color: #68878b;
  font-weight: 500;
  font-size: 14px;
}

.connect h3 {
  color: #05daf7;
  font-weight: 600;
  padding: 0 0 12px 0;
  width: max-content;
}

.link-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.link-icons a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.link-icon img {
  transform: scale(82%);
}

.react {
  color: #00e2ff;
}

.laravel {
  color: #ff2400;
}

/* Expertise */
.expertise {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}

.expertise-desc {
  margin-bottom: 20px;
}

.expertise-desc h2 {
  color: white;
  font-size: 28px;
}

.expertise-desc p {
  padding-top: 8px;
  color: #68878b;
  font-size: 16px;
  font-weight: 500;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skill {
  padding: 24px;
  border-radius: 12px;
  border: 2px solid #aee1e7;
}

.skill img {
  /* transform: scale(100%); */
}

.skill-desc h3 {
  color: #05daf7;
  font-size: 24px;
  font-weight: 600;
}

.skill-desc p {
  color: #68878b;
  font-weight: 400;
  font-size: 14px;
}

/* projects */
.featured-projects {
  margin-top: 20px;
  margin-bottom: 40px;
}

.featured-projects h2 {
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-frame {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #344345;
  border-radius: 20px;
  padding: 12px 12px 0px 12px;
  min-width: 340px;
  width: 100%;
}

.project-img {
  display: flex;
  justify-content: center;
  align-items: end;
}

.project-img img {
  max-width: 506px;
  width: 100%;
  padding: 0 32px;
}

.project-icons {
  display: flex;
  justify-content: space-between;
  height: 28.8px;
  margin-left: 24px;
}

.icon-wrapper {
  height: 28.8px;
  display: flex;
}

.tools {
  width: 28.8px;
  height: 28.8px;
}

.open {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #577174;
  width: 28.8px;
  height: 28.8px;
  text-decoration: none;
  border-radius: 8px;
}

.open img {
  transform: scale(60%);
  margin: 8px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 620px;
}

.project-desc h4 {
  color: #68878b;
  font-size: 20px;
  font-weight: 600;
}

.project-desc h3 {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

.project-desc p {
  color: #68878b;
  font-size: 14px;
  font-weight: 400;
}

/* footer */
footer {
  background-color: #465a5c;
}

footer h2 {
  color: white;
}

.bottom-nav {
  border-top: 2px solid #aee1e7;
}

.bottom-nav h3 {
  color: #aee1e7;
}

.bottom-nav a {
  color: white;
}

.bottom-nav a.active {
  color: #aee1e7;
}

.bottom-nav a:hover {
  color: #aee1e7;
}

.copyright {
  color: #d7f0f3;
}

@media screen and (min-width: 768px) {
  .intro h1 {
    font-size: 40px;
    margin-top: 20px;
  }

  .profile {
    width: 160px;
    height: 160px;
  }
  .biography {
    max-width: 540px;
  }
  .biography h3 {
    font-size: 24px;
  }
  .biography p {
    font-size: 16px;
  }
  .connect h3 {
    font-size: 24px;
  }
  .desc {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 40px;
  }
  .skills {
    flex-direction: row;
  }

  .skill {
    flex: 1;
  }

  .project-frame {
    width: 620px;
  }

  .featured-projects {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .sub-intro {
    flex-direction: row;
  }
  .intro h1 {
    font-size: 48px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  .sub-intro {
    gap: 40px;
    padding: 0 20px;
  }
  .biography h3 {
    font-size: 28px;
  }
  .biography p {
    font-size: 18px;
  }
  .connect h3 {
    font-size: 28px;
  }
  .link-icons a {
    width: 48px;
    height: 48px;
  }

  .profile {
    width: 200px;
    height: 200px;
  }
  .project {
    flex-direction: row;
    gap: 40px;
  }

  .project-icons {
    height: 48px;
  }

  .icon-wrapper {
    height: 48px;
  }

  .tools {
    width: 48px;
    height: 48px;
  }

  .open {
    width: 48px;
    height: 48px;
  }

  .open img {
    transform: scale(100%);
  }
}

@media screen and (min-width: 1200px) {
  .intro h1 {
    margin-bottom: 80px;
  }

  .sub-intro {
    margin-bottom: 100px;
  }

  .expertise {
    border-top: 2px solid #aee1e7;
    border-bottom: 2px solid #aee1e7;
    flex-direction: row;
    gap: 40px;
    padding: 80px 0;
  }

  .expertise-desc {
    min-width: 260px;
    max-width: 300px;
  }

  .featured-projects {
    margin-top: 80px;
  }
}
