* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #9cedf8;
	margin: auto;
	max-width: 1600px;
	color: #68878b;
}

/*------CONTENT------*/

#greeting {
	/*à savoir expliquer*/
	background: linear-gradient(
		269.14deg,
		#c605f7 8.23%,
		#9c6dcb 31.51%,
		#6e9ee6 57.43%,
		#3bc8fc 78.93%,
		#00ebeb 102.13%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	padding-left: 1.5em;
	margin: 1em;
}

.ligne {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 20px;
}

#mypicture {
	border-radius: 100%;
	width: 200px;
	height: 200px;
	object-fit: cover;
}

#aboutme {
	margin-left: 1em;
	justify-content: center;
	display: flex;
	flex-flow: column wrap;
}

h2,
h3 {
	color: white;
}

#boxes {
	margin-top: 3em;
}

#boxes section {
  margin: 0 20px;
  background-color: #05daf6;
  border-radius: 20px;
  padding: 1.5em 1.5em;
  font-size: 0.8em;
  text-align: justify;
  align-items: center;
  color: white;
}

#boxes section h3 {
	font-size: 1.5em;
	padding-bottom: 40px;
	text-align: start;
}

.line {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 5px;
}

.icon_right {
	margin-left: auto;
	align-self: flex-start; /*prevents the image from stretching because of the padding on h3*/
}
.icon {
	align-self: center;
}

.picture {
  border-radius: 7%;
  max-height: 17em;
  display: block; /*allow to center horizontally with margin*/
  margin: auto;
}

#country {
  width: 420px;
  height: auto;
}

#aqueduct {
  margin-top: 3em;
}

.colonne {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  gap: 10px; /*between the elements in the container, the icons and the text*/
  justify-content: center;
  align-items: center;
}

.icon_lines{
  margin-top: 4em;
}

#interests {
  width: 320px;
}

#photosection {
	width: 480px; /*37.5em equivalent*/
	margin-top: auto; /*takes position at the end of the available vertical space*/
}

#pictures {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.small_picture {
	border-radius: 7px;
	width: 16.6%;
	height: auto;
}

#projects {
  width: 400px;
  height: auto;
}

#whyjapan {
  width: 220px;       /*275px;*/
  height: auto;
  /*margin-top: auto;*//*if want to not stretch*/
}

#cat {
	/*display: flex;
  flex-direction: column;
  justify-content:space-around;*/
}

#textcat {
	margin-top: 1em;
	text-align: center;
}

/*------FOOTER------*/

#icon_src {
	color: #aee1e7;
	text-align: center;
}

#icon_src a {
	text-decoration: none;
	color: white;
}

#icon_src a:hover {
	text-decoration: none;
	color: #aee1e7;
}

footer p {
	margin-bottom: 0.5em;
}

.copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #d7f0f3;
	font-size: 14px;
	padding-bottom: 20px;
}

/*---Responsive styles---*/

@media (max-width: 962px) {
	/*breakpoint because images are not on same row as country section*/
	.small_picture {
		width: 30%;
	}
  .icon_lines{
    margin-top: 2em;
  }
}

@media (max-width: 470px){
  /*breakpoint for the column section*/
  
  #boxes section{
    width: 95%;
  }

  #yuki{
    height: fit-content;
    width: auto;
  }
}

@media (max-width: 455px) {
	#greeting {
		font-size: 1.7em;
		text-align: center;
		padding: 1em 0.5em;
		margin: 0;
	}
	#aboutme h2 {
		font-size: 1.5em;
	}
}