* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #9cedf8;
  margin: auto;
  max-width: 1600px;
  color: #68878b;
}

/*------CONTENT------*/

#greeting {
  /*à savoir expliquer*/
  background: linear-gradient(
    269.14deg,
    #c605f7 8.23%,
    #9c6dcb 31.51%,
    #6e9ee6 57.43%,
    #3bc8fc 78.93%,
    #00ebeb 102.13%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-left: 1.5em;
  margin: 1em;
}

.ligne {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

#mypicture {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#aboutme {
  margin-left: 1em;
  justify-content: center;
  display: flex;
  flex-flow: column wrap;
}

h2, h3 {
  color: white;
}

#boxes {
  margin-top: 3em;
}

#boxes section {
  margin: 0 20px;
  background-color: #05daf6;
  border-radius: 20px;
  padding: 1.5em 1.5em;
  font-size: 0.8em;
  text-align: justify;
  color: white;
}

#boxes section h3 {
  font-size: 1.5em;
  padding-bottom: 40px;
  text-align: start;
}

.line {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 5px;
}

.icon_right {
  margin-left: auto;
  align-self: flex-start; /*prevents the image from stretching because of the padding on h3*/
}
.icon {
  align-self: center;
}

.picture {
  border-radius: 7%;
  max-height: 17em;
  display: block; /*allow to center horizontally with margin*/
  margin: auto;
}

#country {
  width: 400px;
  height: auto;
}

#aqueduct {
  margin-top: 3em;
}

.colonne {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  gap: 10px; /*between the elements in the container, the icons and the text*/
  justify-content: center;
  align-items: center;
}

.icon_lines{
  margin-top: 4em;
}

#interests {
  width: 300px;
}

#photosection {
  width: 480px; /*37.5em equivalent*/
  margin-top: auto; /*takes position at the end of the available vertical space*/
}

#pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.small_picture {
  border-radius: 7px;
  width: 16.6%;
  height: auto;
}

#projects {
  width: 370px;
  height: auto;
}

#whyjapan {
  width: 220px;       /*275px;*/
  height: auto;
  /*margin-top: auto;*//*if want to not stretch*/
}

#cat {
  /*display: flex;
  flex-direction: column;
  justify-content:space-around;*/
}

#textcat {
  margin-top: 1em;
  text-align: center;
}

/*------FOOTER------*/

footer{
  margin-top: 2em;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.bottom-nav a.active {
  color: #aee1e7;
}

.bottom-nav a:hover {
  color: #aee1e7;
}

#icon_src {
  color: #aee1e7;
  text-align: center;
}

#icon_src a {
  text-decoration: none;
  color: white;
}

#icon_src a:hover {
  text-decoration: none;
  color: #aee1e7;
}

footer p{
  margin-bottom: 0.5em;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d7f0f3;
  font-size: 14px;
  padding-bottom: 20px;
}

/*---Responsive styles---*/

@media (max-width: 962px){ /*breakpoint because images are not on same row as country section*/
  .small_picture{
    width: 30%;
  }
}

@media (max-width: 470px){ /*breakpoint for the column section*/
  #boxes section{
    max-width: 95%;
  }
}

@media (max-width: 455px){
  #greeting{
    font-size: 1.7em;
    text-align: center;
    padding: 1em 0.5em;
    margin: 0;
  }
  #aboutme h2{
    font-size: 1.5em;
  }
}

/*BEFORE CHANGE LAYOUT*/
/*
@media (max-width: 335px) {

  #greeting {
    font-size: 1.3em;
    margin: 2em;
  }

  #mypicture {
    display: block;
    margin: auto;
  }

  #aboutme {
    align-items: center;
    text-align: center;
  }

  .ligne {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  #boxes section {
    margin: auto;
    background-color: #05daf6;
    border-radius: 20px;
    padding: 1.5em 1.5em;
    text-align: justify;
    color: white;
    max-width: 90%;
  }

  .line {
    gap: 20px; /*same spacing inside a column than between columns
  }

  #headingprojects {
    gap: 0;
  }

  .small_picture {
    width: 50%;
  }

  footer h2 {
    font-size: 1.3em;
  }

  .bottom-nav h3 {
    font-size: 1.3em;
  }

  .bottom-nav {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  #icon-src p {
    margin-top: 0.5em;
  }

  .copyright {
    font-size: 0.75em;
  }
}

@media (min-width: 360px) {

  body {
    font-size: 1em;
  }

  #aboutme {
    align-items: center;
    text-align: center;
  }

  .small_picture {
    width: 50%;
  }

  .line {
    gap: 20px; /*same spacing inside a column than between columns
  }
}

@media (min-width: 389px) {
  body {
    font-size: 1.1em;
  }
}

@media (min-width: 530px) {
  .small_picture {
    width: 16%;
  }
}

@media screen and (min-width: 640px) {
  section {
    margin: 0 40px;
  }

  #country {
    align-self: center;
  }

  footer {
    padding: 0 40px;
  }
}

@media (min-width: 768px) {
  section {
    margin: 0 80px;
  }

  footer {
    padding: 0 80px;
  }

  #aboutme{
    align-items: flex-start;
  }

  .bottom-navitems {
    width: min-content;
    display: flex;
    gap: 12px;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  section {
    margin: 0 120px;
  }

  footer {
    padding: 0 120px;
  }
}
*/